<html xmlns:exslt="http://exslt.org/common">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Homebrewing</title>
<link rel="stylesheet" type="text/css" href="recipe.css">

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script src="https://raw.github.com/BorisMoore/jsrender/master/jsrender.js" type="text/javascript"></script>
<script src="js/recipe.js"></script>

<!--
Bash script to create batches/index.json:

find  batches -type f -name batch.json | while read B; do cat $B | php  -r '$batch=json_decode(file_get_contents("php://STDIN"));$batch->id="$argv[1]";$blob=json_decode(file_get_contents($batch->recipe->url));$recipe=json_decode(base64_decode($blob->content));$batch->recipe->name=$recipe->name;$batch->recipe->total_ppg=$recipe->total_ppg;$batch->recipe->yeast=$recipe->ingredients->yeast;print json_encode($batch)."\n";' "$(basename $(dirname $B))"; done | sed -e 's/$/,/' -e '$,$s/,$//' -e '1i\
{"batches":[' -e '$a\
]}' | jsontidy > batches/index.json
-->
<script type="text/x-jsrender" id="batchIndexTemplate">
<h2>Batches</h2>
<table id="batches">
<tr>
	<th></th>
	<th></th>
	<th colspan="2">Efficiency</th>
	<th></th>
	<th></th>
	<th></th>
	<th></th>
	<th colspan="2">Fermentation</th>
</tr>
<tr>
<th>#</th>
<th>Name</th>
<th>Mash</th>
<th>Brewhouse</th>
<th>Mash temp</th>
<th>OG</th>
<th>FG</th>
<th>ADF</th>
<th>Yeast</th>
<th>Temp</th>
<th>Vol</th>
</tr>
{{for batches}}
<tr>
	<td>{{:id}}</td>
	<td><a href="batch.html?id={{:id}}">{{:recipe.name}}</a></td>
	<td>{{if results && results.efficiency.mash}}<span class="percent">{{:results.efficiency.mash.toFixed(0)}}</span>{{/if}}</td>
	<td>{{if results && results.efficiency.brewhouse}}<span class="percent">{{:results.efficiency.brewhouse.toFixed(0)}}</span>{{/if}}</td>
	<td>{{if results && results.mash && results.mash.avg_temp}}<span class="temperature"><span class="fahrenheit">{{:~celsius2fahrenheit(results.mash.avg_temp).toFixed(0)}}</span></span>{{/if}}</td>
	<td>{{if results && results.gravity && results.gravity.og}}{{:results.gravity.og}}{{/if}}</td>
	<td>{{if results && results.gravity && results.gravity.fg}}{{:results.gravity.fg}}{{/if}}</td>
	<td>{{if results && results.gravity && results.gravity.adf}}<span class="percent">{{:results.gravity.adf.toFixed(0)}}</span>{{/if}}</td>
	<td>{{for recipe.yeast}}{{if lab.substring(0,6) == "Wyeast"}}WY{{/if}}{{:prod_id}}{{/for}}</td>
	<td></td>
	<td>{{if results && results.gravity && results.gravity.volume}}{{:~liters2gallons(results.gravity.volume).toFixed(2)}}G{{/if}}</td>
</tr>
{{/for}}
<th></th>
<th>Average</th>
<th>{{:averages.efficiency.mash.toFixed(0)}}%</th>
<th>{{:averages.efficiency.brewhouse.toFixed(0)}}%</th>
<th></th>
<th></th>
<th></th>
<th>{{:averages.adf.toFixed(0)}}%</th>
<th></th>
<th></th>
<th>{{:(~liters2gallons(totals.vol) / 31).toFixed(0)}}bbl</th>
</tr>
</table>
</script>

<script type="text/javascript">
function renderPage() {
	$.views.helpers({
		liters2gallons: liters2gallons,
		gallons2liters: gallons2liters,
		celsius2fahrenheit: celsiusToFahrenheit,
		fahrenheit2celsius: fahrenheitToCelsius,
		sg2gu: sg2gu,
		gu2sg: gu2sg
	})
	
	$.getJSON("batches/index.json",null,function(data,textStatus,xhr){

		data.totals={
			efficiency: {
				mash: 0,
				mash_count: 0,
				brewhouse: 0,
				brewhouse_count: 0
			},
			adf: 0,
			adf_count: 0,
			vol: 0,
			vol_count: 0
		}
		
		for (var i=0; i < data.batches.length; ++i) {
			// Calculate efficiencies and attenuations
			if (data.batches[i].results) {
				// Scale it
				var scale_factor=1;
				if (data.batches[i].recipe.batch_size)
					scale_factor=data.batches[i].recipe.orig_batch_size / data.batches[i].recipe.batch_size;
				
				data.batches[i].results.efficiency=new Object;
				if (data.batches[i].results.boil.sg && data.batches[i].results.boil.volume) {
					data.batches[i].results.efficiency.mash=(sg2gu(data.batches[i].results.boil.sg) * liters2gallons(data.batches[i].results.boil.volume)) / (data.batches[i].recipe.total_ppg / scale_factor) * 100;
					data.totals.efficiency.mash+=data.batches[i].results.efficiency.mash;
					data.totals.efficiency.mash_count++;
				}
				if (data.batches[i].results.gravity.og && data.batches[i].results.gravity.volume) {
					data.batches[i].results.efficiency.brewhouse=(sg2gu(data.batches[i].results.gravity.og) * liters2gallons(data.batches[i].results.gravity.volume)) / (data.batches[i].recipe.total_ppg / scale_factor) * 100;
					data.totals.efficiency.brewhouse+=data.batches[i].results.efficiency.brewhouse;
					data.totals.efficiency.brewhouse_count++;
				}

				if (data.batches[i].results.gravity && data.batches[i].results.gravity.og && data.batches[i].results.gravity.fg) {
					data.batches[i].results.gravity.adf=(sg2gu(data.batches[i].results.gravity.og) - sg2gu(data.batches[i].results.gravity.fg)) / sg2gu(data.batches[i].results.gravity.og) * 100;
					data.totals.adf+=data.batches[i].results.gravity.adf;
					data.totals.adf_count++;
				}
				if (data.batches[i].results.gravity.volume) {
					data.totals.vol+=data.batches[i].results.gravity.volume;
					data.totals.vol_count++;
				}
					
				if (data.batches[i].results.mash && data.batches[i].results.mash.measurements) {
					// Calculate average mash temp
					var total=0;
					for (var j=0; j < data.batches[i].results.mash.measurements.length; ++j) {
						total+=data.batches[i].results.mash.measurements[j].temp;
					}
					data.batches[i].results.mash.avg_temp=total / data.batches[i].results.mash.measurements.length;
				}

			}
		}
		// Calculate averages
		data.averages={
			efficiency: {
				mash: data.totals.efficiency.mash / data.totals.efficiency.mash_count,
				brewhouse: data.totals.efficiency.brewhouse / data.totals.efficiency.brewhouse_count
			},
			adf: data.totals.adf / data.totals.adf_count,
			vol: data.totals.vol / data.totals.vol_count
		}
		console.log(data);
		$('#batches').html($('#batchIndexTemplate').render(data));
	})
}
</script>

</head>
<body onLoad="renderPage();">
<h1>Homebrewing</h1>

<div id="batches"></div>

<h2>Recipes</h2>
<ol>
<li><a href="recipe.html?name=115th%20Dream%20Hopbursted%20IPA">115th Dream Hopbursted Imperial IPA</a></li>
<li><a href="recipe.html?name=American%20Pale%20Ale%20with%20Caramel">American Pale Ale with Caramel</a></li>
<li><a href="recipe.html?name=Barley%20Wine">Barley Wine</a></li>
<li><a href="recipe.html?name=Breakfast%20Stout">Breakfast Stout</a></li>
<li><a href="recipe.html?name=Fuller's%20ESB">Old Fuller's ESB</a></li>
<li><a href="recipe.html?name=Imperial%20Stout">Imperial Stout</a></li>
<li><a href="recipe.html?name=Jamil's%20Evil%20Twin">Jamil&#39;s Evil Twin (R)</a></li>
<li><a href="recipe.html?name=Janet's%20Brown%20Ale">Janet&#39;s Brown Ale</a></li>
<li><a href="recipe.html?name=Jolly%20Roger%20Christmas%20Ale">Jolly Roger Christmas Ale</a></li>
<li><a href="recipe.html?name=My%20IPA">Special B IPA</a></li>
<li><a href="recipe.html?name=Oatmeal%20Raisin%20Stout">Oatmeal Raisin Stout</a></li>
<li><a href="recipe.html?name=Old%20Rasputin">Old Rasputin</a></li>
<li><a href="recipe.html?name=Oostmalle%20Tripel">Oostmalle Tripel</a></li>
<li><a href="recipe.html?name=Punkin'%20Ale">Punkin' Ale</a></li>
<li><a href="recipe.html?name=Southern%20Tier%20Pumking">Southern Tier Pumking</a></li>
<li><a href="recipe.html?name=Surly%20Furious">Surly Furious</a></li>
<li><a href="recipe.html?name=The%20Czar's%20Revenge">The Czar's Revenge</a></li>
</ol>
<h2>Yeasts</h2>
<li>Wyeast Labs 1056</li>
<li>Wyeast Labs 1084</li>
<li>Wyeast Labs 1056</li>
<li>Wyeast Labs 1056</li>
<li>Wyeast 1335</li>
<li>Wyeast 1056</li>
<li>Wyeast 1968</li>
<li>Wyeast 1056</li>
<li>Wyeast 1318</li>
<li>Wyeast 1968</li>
<li>Fermentis US-05</li>
<li>Wyeast 1335</li>
<li>Wyeast 1056</li>
<li>Fermentis US-05</li>
<li>White Labs WLP007</li>
</body>
</html>
