body {
	font-family: Helvetica;
}

#header {
	font-size:11pt;
	margin-bottom:2em;
}

#styles {
	font-size:.9em;
	position:relative;
	left:1em;
	bottom:20px;
}

#styles .styleid {
	color:gray;
	margin-left:.3em;
}

.volume .metric {
	color:gray;
	margin-left:.3em;
}

.weight .metric {
	color:gray;
	margin-left:.3em;
}

.temperature .celsius {
	color:gray;
}

.temperature .fahrenheit:after {
	content: "\0000B0F";
}
	
.temperature .celsius:before {
	margin-left:.2em;
	content: "(";
}

.temperature .celsius:after {
	content: "\0000B0C)";
}

/*div#fermentables:before {
	font-size: 15pt;
	content: "Ingredients";
}
*/
div#fermentables {
	position:relative;
	left:1.5em;
}
div#fermentables .total_weight:before {
/*	content: "Grain bill: ";*/
}

div#fermentables .total_weight:after {
/*	content: ")";*/
}

div#fermentables .total_weight { 
	position:relative;
	left:-5.5em;
	top:5.5em;
	text-align:center;
	font-size:.9em;
/*	bottom:15em;*/
	width:9em;
	color:gray;
	border-bottom: 2px solid gray;
	writing-mode:tb-rl;
	-webkit-transform:rotate(270deg);
	-moz-transform:rotate(270deg);
	-o-transform: rotate(270deg);
}

div#fermentables .total_weight * { 
	display:inline;
}

tr.fermentable {
	border: 1px solid black;
}

tr.fermentable td:nth-child(2) {
	color:silver;
	font-size: .8em;
	text-align:right;
}

#hops {
	margin:1em 0 1em 0;
}

#hops table th {
	font-weight:normal;
	position:relative;
	text-align:left;
	color:gray;
}

tr.hop {
	position:relative;
	left:2em;
}

tr.hop td:nth-child(3) { /* hop AAU */
	color:gray;
}

tr.hop td:nth-child(4) { /* hop form */
	color:gray;
	font-size:.75em;
	margin-top:.5em;
}

tr.hop td:nth-child(5):after { /* hop boil minutes */
	content: " min";
}

.fermentable * {
	display: inline;
}

.weight * {
	display: inline;
}

