<script type="text/x-jsrender" id="expectedTemplate">
	<h2>Expected</h2>

	<div>
		<span class="headerkey">Assumptions:</span>
		<span class="headerval">
			{{:assumptions.mashthickness}}qt/lb @
			<span class="temperature fahrenheit">{{for assumptions.mashtemp tmpl="#temperatureTemplate"/}}</span>, grain @
			<span class="temperature fahrenheit">{{for assumptions.graintemp tmpl="#temperatureTemplate"/}}</span>
		</span>
		<div style="clear: both;"></div>

	</div>

	<div>
		<span class="headerkey">Gravity points:</span>
		<span class="headerval">{{:total_gu.toFixed(0)}} ({{:expected_gu.toFixed(0)}} required)</span>
		<div style="clear: both;"></div>
	</div>
					
	<div>
		<span class="headerkey">Strike:</span>
		<span class="headerval">{{for mashvol tmpl="#volumeTemplate"/}} @ {{for ((0.2 / assumptions.mashthickness) * (assumptions.mashtemp - assumptions.graintemp)) + assumptions.mashtemp tmpl="#temperatureTemplate"/}}
		</span>
		<div style="clear: both;"></div>
	</div>

	<!-- <div>
		<span class="headerkey">Mash:</span>
		<span class="headerval">
			{{:absorption_loss_vol + mashtun_loss}} in loss leaving {{:mashvol - absorption_loss_vol - mashtun_loss}}
		</span>
		<div style="clear: both;"></div>
	</div> -->
				
	<div>
		<span class="headerkey">Sparge:</span>
		<span class="headerval">{{for sparge_vol tmpl="#volumeTemplate"/}}</span>
		<div style="clear: both;"></div>
	</div>
				
	<div>
		<div class="headerkey">Boil:</div>
		<div class="headerval">{{for boil_vol ~gravity=expected_gu / (boil_vol * 0.264172) / 1000 + 1 tmpl="#volumeTemplate"/}}
			for {{:boil_hours * 60}} mins &#8594;
			{{for boil_vol - evaporation_loss_vol ~gravity=expected_gu / ((boil_vol - evaporation_loss_vol) * 0.264172) / 1000 + 1 tmpl="#volumeTemplate"/}} &#8594;
			{{for boil_vol - evaporation_loss_vol - hop_absorption_loss_vol tmpl="#volumeTemplate"/}}
			<div style="clear: both;"></div>
		</div>
	</div>
</script>

<script type="text/javascript">
$.views.helpers({
	averageTemps: function(arr) {
		var sum=0;
		for (var i=0; i< arr.length; ++i) {
			sum+=arr[i].temp;
		}
		return sum/arr.length;
	}
})
</script>
			
<script type="text/x-jsrender" id="actualTemplate">
	<div id="results">
		<h2>Actual</h2>
		<div>
			<span class="headerkey">Strike:
				<span class="headercode"ST</span>
				<span class="headercode">SV</span>
			</span>
			<span class="headerval">
				{{for results.mash.strike.volume tmpl="#volumeTemplate"/}} 
				@
				{{for results.mash.strike.temp tmpl="#temperatureTemplate"/}} 
			</span>
			<div style="clear: both;"></div>
		</div>
		<div>
			<span class="headerkey">Mash:</span>
			<span class="headerval">
				{{:results.mash.duration}} mins averaging {{for ~averageTemps(results.mash.measurements) tmpl="#temperatureTemplate"/}}
			</span>
			<div style="clear: both;"></div>
		</div>
		<div>
			<span class="headerkey">Lauter:
				<span class="headercode">LT</span>
			</span>
			<span class="headerval">
				{{:results.sparge.duration}} mins
				({{:(results.sparge.duration / (results.boil.volume * 0.264172)).toFixed(0)}} min/G)
			</span>
			<div style="clear: both;"></div>
		</div>
		<div>
			<div class="headerkey">Boil:
				<div class="headercode">BV</div>
				<div class="headercode">BG</div>
				<div class="headercode">BT</div>
				<div class="headercode">EV</div>
			</div>
			<div class="headerval">
				{{for results.boil.volume ~gravity=results.boil.sg tmpl="#volumeTemplate"/}}
				for 
				{{if results.boil.time == 0}}____{{else}}{{:results.boil.time}}{{/if}}
				mins &#8594; 
				{{for results.boil.end_volume ~gravity=(results.boil.sg - 1) * 1000 * results.boil.volume / results.boil.end_volume / 1000 + 1 tmpl="#volumeTemplate"/}}
			</div>
			<div style="clear: both;"></div>
		</div>
		<div>
			<div class="headerkey">Evaporation rate:</div>
			<div class="headerval">
				{{if results.boil.end_volume!=0}}
					{{for (results.boil.volume - results.boil.end_volume) / (results.boil.time / 60) tmpl="#volumeTemplate"/}}
					({{:((results.boil.volume - results.boil.end_volume) / results.boil.volume / (results.boil.time / 60) * 100).toFixed(0)}}%)/hour
				{{/if}}
			</div>
			<div style="clear: both;"></div>
		</div>
		<div>
			<span class="headerkey">Final Volume:
				<span class="headercode">FV</span>
			</span>
			<span class="headerval">
				{{for results.gravity.volume tmpl="#volumeTemplate"/}}
			</span>
			<div style="clear: both;"></div>
		</div>
		<div>
			<span class="headerkey">OG:
				<span class="headercode">OG</span>
			</span>
			<span class="headerval">
				{{if results.gravity.og==0}}&#160;{{/if}}
				{{:results.gravity.og}}
			</span>
			<div style="clear: both;"></div>
		</div>
		<div>
			<span class="headerkey">FG:
				<span class="headercode">FG</span>
			</span>
			<span class="headerval">
				{{if !results.gravity.fg}}&#160;{{/if}}
				{{:results.gravity.fg}}
			</span>
			<div style="clear: both;"></div>
		</div>
		<div>
			<span class="headerkey">ABV:</span> 
			<span class="headerval">
				{{if !results.gravity.fg}}&#160;
				{{else}}
				{{:((((results.gravity.og - 1) * 1000) - ((results.gravity.fg - 1) * 1000)) * 131 / 1000).toFixed(2)}}%
				{{/if}}
			</span>
			<div style="clear: both;"></div>
		</div>
		<div>
			<span class="headerkey">Mash efficiency:</span>
			<span class="headerval">
				{{:((((results.boil.sg - 1) * 1000) * (results.boil.volume * 0.264172)) / recipe.total_ppg * 100).toFixed(0)}}%
			</span>
			<div style="clear: both;"></div>
		</div>
		<div>
			<span class="headerkey">Brewhouse efficiency:</span>
			<span class="headerval">
			{{:(((((results.gravity.og - 1) * 1000) * (results.gravity.volume * 0.264172)) / recipe.total_ppg) * 100).toFixed(0)}}%
			</span>
			<div style="clear: both;"></div>
		</div>
		<div>
			<span class="headerkey">ADF:</span>
			<span class="headerval">
			{{if results.gravity.og!=0 && results.gravity.fg!=0}}
				&#160;
			{{else}}
				{{:((((results.gravity.og - results.gravity.fg) * 1000)) / ((results.gravity.og - 1) * 1000) * 100).toFixed(0)}}%
			{{/if}}
			</span>
			<div style="clear: both;"></div>
		</div>
	</div>
</script>
