<script type="text/x-jsrender" id="expectedTemplate">
	<h2>Expected</h2>

	<div>
		<span class="headerkey">Assumptions:</span>
		<span class="headerval">
			<input type="edit" size="3" id="assumption_mashthickness" value="{{:assumptions.mashthickness}}"/>qt/lb @
			<input type="edit" size="3" id="assumption_mashtemp" value="{{:~celsius2fahrenheit(assumptions.mashtemp)}}" />&deg;F,
			grain @ <input type="edit" size="3" id="assumption_graintemp" value="{{:~celsius2fahrenheit(assumptions.graintemp)}}" />&deg;F
			Boil for <input type="edit" size="3" id="assumption_boil_time" value="{{:boil_time||assumptions.boil_time}}" /> minutes
		</span>
		<div style="clear: both;"></div>

	</div>

	<div>
		<span class="headerkey">Gravity points:</span>
		<span class="headerval">{{:total_gu.toFixed(0)}} ({{:expected_gu.toFixed(0)}} required)</span>
		<div style="clear: both;"></div>
	</div>
					
	<div>
		<span class="headerkey">Strike:</span>
		<span class="headerval"><span id="expected_strike_vol"></span> @ <span id="expected_strike_temp"></span>
		</span>
		<div style="clear: both;"></div>
	</div>

	<!-- <div>
		<span class="headerkey">Mash:</span>
		<span class="headerval">
			{{:absorption_loss_vol + mashtun_loss}} in loss leaving {{:mashvol - absorption_loss_vol - mashtun_loss}}
		</span>
		<div style="clear: both;"></div>
	</div> -->
				
	<div>
		<span class="headerkey">Sparge:</span>
		<span class="headerval">
			<span id="expected_sparge_vol"></span>&#8594;
			<span id="expected_boil_vol"></span>
		</span>
		<div style="clear: both;"></div>
	</div>
				
	<div>
		<span class="headerkey">Adjuncts:</span>
		<span class="headerval">
			{{:adjunct_gu.toFixed(1)}} GU&#8594;{{:(lauter_gravity + (adjunct_gu/1000)).toFixed(3)}}
		</span>
		<div style="clear: both;"></div>
	</div>
				
	<div>
		<div class="headerkey">Boil:</div>
		<div class="headerval">{{for boil_vol ~gravity=expected_gu / (boil_vol * 0.264172) / 1000 + 1 tmpl="#volumeTemplate"/}}
			for <span id="expected_boil_time">{{:boil_hours * 60}}</span> mins &#8594;
			{{for boil_vol - evaporation_loss_vol ~gravity=expected_gu / ((boil_vol - evaporation_loss_vol) * 0.264172) / 1000 + 1 tmpl="#volumeTemplate"/}} &#8594;
			{{for boil_vol - evaporation_loss_vol - hop_absorption_loss_vol tmpl="#volumeTemplate"/}}
			<div style="clear: both;"></div>
		</div>
	</div>
</script>

<script type="text/javascript">
$.views.helpers({
	averageTemps: function(arr) {
		if (typeof arr == "undefined" || arr.length==0)
			return 0;
		var sum=0;
		for (var i=0; i< arr.length; ++i) {
			sum+=arr[i].temp;
		}
		return sum/arr.length;
	}
})
</script>
			
<script type="text/x-jsrender" id="actualTemplate">
	<div id="results">
		<h2>Actual</h2>
		<div>
			<div class="headerkey">Strike:
				<span class="headercode"ST</span>
				<span class="headercode">SV</span>
			</div>
			<div class="headerval">
			<input size="3" type="text" id="mash_strike_volume" name="mash.strike.volume" 
				value="{{if results && results.mash && results.mash.strike}}{{:~liters2gallons(results.mash.strike.volume).toFixed(2)}}{{/if}}" /> @
			<input size="3" type="text" id="mash_strike_temp" name="mash.strike.temp" 
				value="{{if results && results.mash && results.mash.strike && results.mash.strike.temp}}{{:~celsius2fahrenheit(results.mash.strike.temp).toFixed(0)}}{{/if}}" />
			</div>
			<div style="clear: both;"></div>
		</div>
		<div>
			<div class="headerkey">Mash:</div>
			<div class="headerval">
				<input size="3" type="text" id="mash_duration" name="mash.duration" 
					value="{{if results && results.mash && results.mash.duration}}{{:results.mash.duration}}{{/if}}" /> mins
				{{if results && results.mash && results.mash.measurements}}
					<div id="mash_temp_measurements">
						{{for results.mash.measurements}}
							<div>
								<input size="3" type="text" value="{{:~celsius2fahrenheit(temp).toFixed(1)}}" />
								<button size="3" onclick="delMashTemp(this)">-</button>
								{{if #index+1 == #parent.data.length}}<button onclick="addMashTemp(this)">+</button>{{/if}}
							</div>
						{{/for}}
					</div>
				{{else}}
					<div id="mash_temp_measurements">
						<div>
							<input size="3" type="text" value="" />
							<button size="3" onclick="delMashTemp(this)">-</button>
							<button onclick="addMashTemp(this)">+</button>
						</div>
					</div>
				{{/if}}
			</div>
			<div style="clear: both;"></div>
		</div>
		<div>
			<div class="headerkey">Lauter:
				<span class="headercode">LT</span>
			</div>
			<div class="headerval">
			<input size="3" type="text" id="lauter_time" name="sparge.duration" value="{{if results && results.sparge}}{{:results.sparge.duration}}{{/if}}" /> mins
				(<span id="lauter_rate"></span> min/G)
			</div>
			<div style="clear: both;"></div>
		</div>
		<div>
			<div class="headerkey">Boil:
				<div class="headercode">BV</div>
				<div class="headercode">BG</div>
				<div class="headercode">BT</div>
				<div class="headercode">EV</div>
			</div>
			<div class="headerval">
			<input size="3" type="text" id="boil_volume" name="boil.volume" value="{{if results && results.boil}}{{:~liters2gallons(results.boil.volume).toFixed(2)}}{{/if}}" />G @
			<input size="3" type="text" id="boil_sg" name="boil.sg" value="{{if results && results.boil}}{{:results.boil.sg}}{{/if}}" /> for
			<input size="3" type="text" id="boil_time" name="boil.time" value="{{if results && results.boil}}{{:results.boil.time}}{{/if}}" /> mins &#8594; 
			<input size="3" type="text" id="boil_end_volume" name="boil.end_volume" value="{{if results && results.boil}}{{:~liters2gallons(results.boil.end_volume).toFixed(2)}}{{/if}}" />
			</div> @
			<div id="boil_end_gravity"></div>
			<div style="clear: both;"></div>
		</div>
		<div>
			<div class="headerkey">Evaporation rate:</div>
			<div class="headerval" id="evaporation_rate">
				{{if results && results.boil}}{{for results.boil tmpl="#evaporationRateTemplate"/}}{{/if}}
			</div>
			<div style="clear: both;"></div>
		</div>
		<div>
			<span class="headerkey">Final Volume:
				<span class="headercode">FV</span>
			</span>
			<span class="headerval">
				<input size="3" type="text" id="final_volume" name="results.gravity.volume" value="{{if results && results.gravity}}{{:~liters2gallons(results.gravity.volume).toFixed(2)}}{{/if}}" />
			</span>
			<div style="clear: both;"></div>
		</div>
		<div>
			<span class="headerkey">OG:
				<span class="headercode">OG</span>
			</span>
			<span class="headerval">
				<input size="3" type="text" id="actual_og" name="results.gravity.og" value="{{if results && results.gravity}}{{:results.gravity.og}}{{/if}}" />
			</span>
			<div style="clear: both;"></div>
		</div>
		<div>
			<span class="headerkey">FG:
				<span class="headercode">FG</span>
			</span>
			<span class="headerval">
				<input size="3" type="text" id="actual_fg" name="results.gravity.fg" value="{{if results && results.gravity}}{{:results.gravity.fg}}{{/if}}" />
			</span>
			<div style="clear: both;"></div>
		</div>
		<div>
			<span class="headerkey">ABV:</span> 
			<span class="headerval" id="actual_abv">
			{{if results && results.gravity}}
				{{if !results.gravity.fg}}&#160;
				{{else}}
				{{:((((results.gravity.og - 1) * 1000) - ((results.gravity.fg - 1) * 1000)) * 131 / 1000).toFixed(2)}}%
				{{/if}}
			{{/if}}
			</span>
			<div style="clear: both;"></div>
		</div>
		<div>
			<span class="headerkey">Mash efficiency:</span>
			<span class="headerval" id="mash_efficiency">
			{{if results && results.boil}}
				{{:((((results.boil.sg - 1) * 1000) * (results.boil.volume * 0.264172)) / recipe.total_ppg * 100).toFixed(0)}}%
			{{/if}}
			</span>
			<div style="clear: both;"></div>
		</div>
		<div>
			<span class="headerkey">Brewhouse efficiency:</span>
			<span class="headerval" id="brewhouse_efficiency">
			{{if results && results.gravity}}
			{{:(((((results.gravity.og - 1) * 1000) * (results.gravity.volume * 0.264172)) / recipe.total_ppg) * 100).toFixed(0)}}%
			{{/if}}
			</span>
			<div style="clear: both;"></div>
		</div>
		<div>
			<span class="headerkey">ADF:</span>
			<span class="headerval" id="actual_adf">
			{{if results && results.gravity}}
			{{if results.gravity.og!=0 && results.gravity.fg!=0}}
				&#160;
			{{else}}
				{{:((((results.gravity.og - results.gravity.fg) * 1000)) / ((results.gravity.og - 1) * 1000) * 100).toFixed(0)}}%
			{{/if}}
			{{/if}}
			</span>
			<div style="clear: both;"></div>
		</div>
		
		<div class="savebutton"><input type="button" id="saveButton" value="Save" /><div class="modalsmall"></div></div>
		
	</div>
</script>

<script type="text/x-jsrender" id="brewlogTemplate">
	{{for posts}}
	<div class="post">
		<div class="postbody">
			<div class="logdate"><div class="dayssince">&nbsp;</div><div class="datestring">{{:date}}</div></div>
			{{if type=='regular'}}<div class="posttext">{{:#data['regular-body']}}</div>{{/if}}
			{{if type=='photo'}}
			<div class="posttext">{{:#data['photo-caption']}}</div>
			<div class="photo">
				<img src="{{:#data['photo-url-250']}}" />
				<div class="photosizeoptions">All photo sizes:
					<a href="{{:#data['photo-url-75']}}">75</a>
					<a href="{{:#data['photo-url-100']}}">100</a>
					<a href="{{:#data['photo-url-250']}}">250</a>
					<a href="{{:#data['photo-url-400']}}">400</a>
					<a href="{{:#data['photo-url-500']}}">500</a>
					<a href="{{:#data['photo-url-1280']}}">1280</a>
				</div>
				</div>
			{{/if}}
		</div>
	</div>
	{{/for}}
</script>
